$color-primary: #ffda36;
$color-primary2: #ffe881;
$color-second: #7fd6e2;
$color-third: #55bcc9;
$color-black: rgb(8, 8, 8);
$color-white: white;
$color-grey: rgb(173, 173, 173);
$color-grey2: rgb(129, 129, 129);

$tablet-media: 1100px;
$mobile-media: 600px;
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;900&display=swap");

////

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  @media only screen and (max-width: $tablet-media) {
    font-size: 80%;
  }

  @media only screen and (max-width: $mobile-media) {
    font-size: 50%;
  }
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: $color-white;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23b4edf3' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%239ee1e9' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%2388d5de' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%2370c8d3' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%2355bcc9' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%238cc2b0' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23b1c897' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23cece7c' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23e8d45d' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23ffda36' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  @media only screen and (max-width: $tablet-media) {
    margin: 1rem;
  }
}

.btn {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  border: 2px solid $color-primary;
  padding: 0.5rem 0.8rem;
  background: transparent;
  color: $color-primary;
  position: relative;
  overflow: hidden;
}

.btn span {
  z-index: 1;
  position: relative;
}

.btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 280px;
  height: 140px;
  border-radius: 50%;
  transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
  transition: opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1),
    transform 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  background-color: $color-primary;
  opacity: 0;
}

.btn:hover {
  cursor: pointer;
  color: $color-black;
  z-index: 2;
}

.btn:hover::before {
  opacity: 1;
  transition-duration: 0.85s;
  transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
  z-index: -1;
}

.btn:focus {
  outline: none;
}

.header {
  display: grid;
  grid-template-rows: 10rem;
  grid-template-columns: 30% 40% 30%;
  grid-template-areas: "welcome clock weather";
  align-items: center;

  @media only screen and (max-width: $mobile-media) {
    grid-template-rows: 10rem 10rem;
    grid-template-columns: 40% 60%;
    grid-template-areas:
      "welcome  weather"
      "clock clock";
  }
}

.content {
  display: grid;
  grid-template-rows: 80vh;
  grid-template-columns: 50% 50%;
  grid-template-areas: "todo pomo";
  align-items: center;
  justify-items: center;

  @media only screen and (max-width: $tablet-media) {
    grid-template-rows: 50vh fit-content;
    grid-template-columns: 100%;
    grid-template-areas:
      "todo"
      "pomo";
    margin-bottom: 5rem;
  }

  @media only screen and (max-width: $mobile-media) {
    grid-template-rows: 40vh fit-content;
  }
}

.welcome {
  grid-area: welcome;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  font-size: 0.9rem;
}

.clock {
  grid-area: clock;
  font-size: 2.2rem;
  text-align: center;
}

.weather {
  grid-area: weather;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo {
  grid-area: todo;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(3px);
  height: 95%;
  width: 90%;
  border-radius: 3rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  overflow-y: scroll;
  margin-right: 0;

  @media only screen and (max-width: $tablet-media) {
    margin-top: 5rem;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 14px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba($color-white, 0.6);
  }
  &__form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
    margin-top: 1rem;
    margin-left: 2rem;
  }

  &__input {
    border-radius: 2rem;
    border: none;
    background: rgba($color-white, 0.9);
    font-family: inherit;
    font-weight: 700;
    color: black;
    width: 20rem;
    height: 2.5rem;
    text-align: center;

    &:focus-within {
      outline: none;
      transform: translateY(-2px);
      box-shadow: 0 0.7rem 3rem rgba($color-black, 0.08);
    }

    &::placeholder {
      color: $color-grey;
    }
  }
  &__btn {
    background: $color-primary;
    border: none;
    border-radius: 25px;
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    font-size: 1.5rem;
    color: $color-white;
    margin-left: 0.7rem;
    transition: all 0.3s ease;
    &:hover {
      cursor: pointer;
      background: $color-primary2;
    }
    &:focus {
      outline: none;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0.8rem;
    background: rgba($color-white, 0.6);
    width: 90%;
    height: 4rem;
    border-radius: 2rem;
    margin: 1rem;
    transition: all 0.3s ease;
    overflow: hidden;
    &--item {
      font-size: 1.2rem;
      font-weight: 600;
      color: $color-grey2;
      padding-left: 1.5rem;
      list-style: none;
    }
  }
  &__imgs {
    margin-top: 5px;
  }
  &__icon {
    margin: 0.3rem;
    @media only screen and (max-width: $tablet-media) {
      width: 60%;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.option--btn {
  background: transparent;
  border: none;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}

.done {
  text-decoration: line-through;
  color: $color-grey;
}
.opacity {
  background: rgba($color-white, 0.2);
}
.fall {
  transform: translateX(1rem);
  opacity: 0;
}

.pomo {
  grid-area: pomo;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(3px);
  height: 95%;
  width: 90%;
  border-radius: 3rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  text-align: center;

  @media only screen and (max-width: $tablet-media) {
    margin-top: 5rem;
  }
  &__title {
    font-size: 3rem;
    color: $color-white;
    margin-top: 2rem;
  }
  &__time {
    font-size: 3.3rem;
    color: $color-third;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  &__btn {
    background: $color-third;
    border: none;
    border-radius: 25px;
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    font-size: 1.5rem;
    color: $color-white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all 0.3s ease;
    &:hover {
      cursor: pointer;
      background: $color-second;
    }
    &:focus {
      outline: none;
    }
  }

  &__setup {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 13rem 10rem;
    grid-gap: 1rem;
    grid-template-areas:
      "work break"
      "button button";
    color: $color-grey2;
    justify-content: center;
  }

  &__work {
    grid-area: work;
    font-size: 1.5rem;
    background: rgba($color-white, 0.6);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 2rem;
    padding-top: 1rem;
    &--setup {
      margin-top: 1rem;
    }
  }

  &__break {
    grid-area: break;
    font-size: 1.5rem;
    background: rgba($color-white, 0.6);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 2rem;
    padding-top: 1rem;
    &--setup {
      margin-top: 1rem;
    }
  }
}

.play__pause {
  grid-area: button;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  &--btn {
    padding: 1rem 1.5rem;
    border-radius: 5rem;
    margin: 0 0.5rem;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      outline: none;
    }
  }
}

/// modal window

.modal {
  pointer-events: auto;
  opacity: 1;
  transition: opacity 0.3s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  background-color: $color-third;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  text-align: center;
  transition: all 0.3s ease;

  @media only screen and (max-width: $mobile-media) {
    padding: 4rem 2rem;
    height: fit-content;
    width: 70%;
  }
  &__btn {
    background-color: transparent;
    color: $color-primary;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 5rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      outline: none;
    }
  }

  &__title {
    font-size: 2rem;
    color: $color-white;
    font-weight: 900;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }

  &__form {
    margin-top: 4rem;
    color: $color-white;
    display: inline-grid;
    justify-items: center;
  }
  &__label {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    margin: 3rem;
  }

  &__input {
    height: 2.5rem;
    width: 90%;
    border: none;
    border-radius: 2rem;
    margin-bottom: 5rem;
    text-align: center;
    font-size: 2rem;

    &:focus-within {
      outline: none;
      transform: translateY(-2px);
      box-shadow: 0 0.7rem 3rem rgba($color-black, 0.1);
    }
  }

  &__submit {
    width: 15rem;
    font-size: 1.5rem;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      outline: none;
    }
  }
}

.overlay {
  position: absolute;
  pointer-events: auto;
  opacity: 1;
  transition: opacity 0.3s;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
  z-index: 5;
  transition: all 0.3s ease;
  @media only screen and (max-width: $mobile-media) {
    height: 200%;
  }
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.red-border {
  border: 1px solid red;
}
