@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: #080808;
}

.btn {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  border: 2px solid #ffda36;
  padding: 1.5rem 2rem;
  background: transparent;
  color: #ffda36;
  position: relative;
  overflow: hidden;
}

.btn span {
  z-index: 1;
  position: relative;
}

.btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 210px;
  height: 140px;
  border-radius: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
          transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
  -webkit-transition: opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1), transform 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1), transform 0.75s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  background-color: #ffda36;
  opacity: 0;
}

.btn:hover {
  cursor: pointer;
  color: #080808;
  z-index: 2;
}

.btn:hover::before {
  opacity: 1;
  -webkit-transition-duration: 0.85s;
          transition-duration: 0.85s;
  -webkit-transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
          transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
  z-index: -1;
}

.btn:focus {
  outline: none;
}

.header {
  height: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5rem;
  font-size: 2rem;
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 900;
}

.header__img {
  width: 8rem;
  padding-right: 2rem;
}

.header__slogan {
  border-top: 2px solid #ffda36;
  border-bottom: 2px solid #ffda36;
  padding: 0 4rem;
}

.intro {
  background: #55bcc9;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#55bcc9), color-stop(#76cbd6), color-stop(#93dbe3), color-stop(#afeaf0), to(#cafafe));
  background-image: linear-gradient(to right top, #55bcc9, #76cbd6, #93dbe3, #afeaf0, #cafafe);
  height: 91vh;
}

.intro__title {
  font-size: 6rem;
  font-weight: 900;
  padding-top: 20rem;
  padding-left: 15rem;
  width: 60rem;
  color: white;
  position: relative;
  z-index: 2;
}

.intro__img {
  position: relative;
  margin-right: 10%;
}

.intro__img--one {
  width: 40rem;
  position: absolute;
  float: right;
  margin-left: 70%;
  margin-top: -40rem;
  z-index: 2;
}

.intro__img--two {
  width: 40rem;
  position: absolute;
  margin-left: 60%;
  margin-top: -20rem;
  z-index: 2;
}

.intro__img--three {
  width: 30rem;
  position: absolute;
  margin-left: 82%;
  margin-top: -10rem;
  opacity: 0.2;
  z-index: 0;
}

.intro__img--four {
  width: 30rem;
  position: absolute;
  margin-left: 1%;
  margin-top: -50rem;
  opacity: 0.2;
  z-index: 0;
}

.intro__btn {
  font-size: 2rem;
  margin-left: 15rem;
  margin-top: 5rem;
}

.intro__features {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15rem;
  z-index: 2;
  position: relative;
}

.intro__features--item {
  padding: 0 6rem;
}

.intro__items {
  font-size: 2rem;
  color: white;
  padding: 2rem;
}

.slideUpBtn {
  padding: 12px 24px;
  background-color: transparent;
  border: 2px solid #5851ec;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.5s cubic-bezier(1, 0.15, 0.34, 0.92);
  transition: all 0.5s cubic-bezier(1, 0.15, 0.34, 0.92);
}

.slideUpBtn span {
  display: inline-block;
  -webkit-transition: inherit;
  transition: inherit;
  color: #5851ec;
}

.slideUpBtn:hover span {
  opacity: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.slideUpBtn::before {
  content: "";
  background-color: #5851ec;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: inherit;
  transition: inherit;
  width: 100%;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(1, 0.15, 0.34, 0.92);
  transition: -webkit-transform 0.5s cubic-bezier(1, 0.15, 0.34, 0.92);
  transition: transform 0.5s cubic-bezier(1, 0.15, 0.34, 0.92);
  transition: transform 0.5s cubic-bezier(1, 0.15, 0.34, 0.92), -webkit-transform 0.5s cubic-bezier(1, 0.15, 0.34, 0.92);
}

.slideUpBtn::after {
  content: "Hover me";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transition: inherit;
  transition: inherit;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  width: 100%;
}

.modal {
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  background-color: #55bcc9;
  padding: 6rem;
  border-radius: 5px;
  -webkit-box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  text-align: center;
}

.modal__btn {
  background-color: transparent;
  color: #ffda36;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 5rem;
  position: absolute;
  right: 3rem;
  top: 3rem;
}

.modal__btn:hover {
  cursor: pointer;
}

.modal__btn:focus {
  outline: none;
}

.modal__title {
  font-size: 4rem;
  color: white;
  font-weight: 900;
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.modal__form {
  margin-top: 4rem;
  font-size: 4rem;
  color: white;
  display: -ms-inline-grid;
  display: inline-grid;
  justify-items: center;
}

.modal__label {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  margin: 3rem;
}

.modal__input {
  height: 4rem;
  width: 120%;
  border: none;
  border-radius: 2rem;
  margin-bottom: 7rem;
  text-align: center;
  font-size: 2rem;
}

.modal__input:focus-within {
  outline: none;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 0.7rem 3rem rgba(8, 8, 8, 0.1);
          box-shadow: 0 0.7rem 3rem rgba(8, 8, 8, 0.1);
}

.modal__submit {
  width: 15rem;
  font-size: 2rem;
}

.modal__submit:hover {
  cursor: pointer;
}

.modal__submit:focus {
  outline: none;
}

.overlay {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 5;
}

.show {
  opacity: 1;
  pointer-events: auto;
}
/*# sourceMappingURL=interface.css.map */