@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 27%;
  }
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: #080808;
}

.btn {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  border: 2px solid #ffda36;
  padding: 1.2rem 1.2rem;
  background: transparent;
  color: #ffda36;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

.btn span {
  z-index: 1;
  position: relative;
}

.btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 210px;
  height: 140px;
  border-radius: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
          transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
  -webkit-transition: opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1), transform 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1), transform 0.75s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  background-color: #ffda36;
  opacity: 0;
}

.btn:hover {
  cursor: pointer;
  color: #080808;
  z-index: 2;
}

.btn:hover::before {
  opacity: 1;
  -webkit-transition-duration: 0.85s;
          transition-duration: 0.85s;
  -webkit-transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
          transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
  z-index: -1;
}

.btn:focus {
  outline: none;
}

.header {
  height: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5rem;
  font-size: 2rem;
}

@media only screen and (max-width: 1100px) {
  .header {
    font-size: 1.5rem;
    margin-right: 1rem;
    padding: 0 3rem;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    height: 12rem;
  }
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 900;
}

.header__img {
  width: 8rem;
  padding-right: 2rem;
}

.header__slogan {
  border-top: 2px solid #ffda36;
  border-bottom: 2px solid #ffda36;
  padding: 0 4rem;
}

.intro {
  background: #55bcc9;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#55bcc9), color-stop(#76cbd6), color-stop(#93dbe3), color-stop(#afeaf0), to(#cafafe));
  background-image: linear-gradient(to right top, #55bcc9, #76cbd6, #93dbe3, #afeaf0, #cafafe);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.intro__title {
  font-size: 6rem;
  font-weight: 900;
  padding-top: 20rem;
  padding-left: 15rem;
  width: 60rem;
  color: white;
  position: relative;
  z-index: 2;
}

@media only screen and (max-width: 1100px) {
  .intro__title {
    font-size: 9rem;
    padding-top: 15rem;
    padding-left: 12rem;
  }
}

@media only screen and (max-width: 600px) {
  .intro__title {
    font-size: 7.5rem;
  }
}

.intro__img {
  position: relative;
  margin-right: 10%;
}

.intro__img--one {
  width: 40rem;
  position: absolute;
  float: right;
  margin-left: 70%;
  margin-top: -40rem;
  z-index: 2;
}

@media only screen and (max-width: 1100px) {
  .intro__img--one {
    margin-left: 45%;
    margin-top: 17rem;
  }
}

.intro__img--two {
  width: 40rem;
  position: absolute;
  margin-left: 60%;
  margin-top: -20rem;
  z-index: 2;
}

@media only screen and (max-width: 1100px) {
  .intro__img--two {
    margin-left: 25%;
    margin-top: 38rem;
  }
}

.intro__img--three {
  width: 30rem;
  position: absolute;
  margin-left: 82%;
  margin-top: -10rem;
  opacity: 0.2;
  z-index: 0;
}

@media only screen and (max-width: 1100px) {
  .intro__img--three {
    margin-left: 65%;
    margin-top: 48rem;
  }
}

.intro__img--four {
  width: 30rem;
  position: absolute;
  margin-left: 1%;
  margin-top: -50rem;
  opacity: 0.2;
  z-index: 0;
}

@media only screen and (max-width: 1100px) {
  .intro__img--four {
    margin-top: -85rem;
  }
}

@media only screen and (max-width: 600px) {
  .intro__img--four {
    margin-top: -65rem;
  }
}

.intro__btn {
  font-size: 2.2rem;
  margin-left: 15rem;
  margin-top: 5rem;
  display: inline-block;
}

@media only screen and (max-width: 1100px) {
  .intro__btn {
    font-size: 4rem;
  }
}

.intro__features {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30rem;
  z-index: 2;
  position: relative;
  padding-bottom: 35rem;
}

@media only screen and (max-width: 1100px) {
  .intro__features {
    margin-top: 85rem;
    display: block;
  }
}

.intro__features--item {
  padding: 0 6rem;
}

@media only screen and (max-width: 1100px) {
  .intro__features--item {
    margin: 10rem;
  }
}

.intro__items {
  font-size: 2rem;
  color: white;
  padding: 2rem;
}

.slideUpBtn {
  padding: 12px 24px;
  background-color: transparent;
  border: 2px solid #5851ec;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.5s cubic-bezier(1, 0.15, 0.34, 0.92);
  transition: all 0.5s cubic-bezier(1, 0.15, 0.34, 0.92);
}

.slideUpBtn span {
  display: inline-block;
  -webkit-transition: inherit;
  transition: inherit;
  color: #5851ec;
}

.slideUpBtn:hover span {
  opacity: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.slideUpBtn::before {
  content: "";
  background-color: #5851ec;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: inherit;
  transition: inherit;
  width: 100%;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(1, 0.15, 0.34, 0.92);
  transition: -webkit-transform 0.5s cubic-bezier(1, 0.15, 0.34, 0.92);
  transition: transform 0.5s cubic-bezier(1, 0.15, 0.34, 0.92);
  transition: transform 0.5s cubic-bezier(1, 0.15, 0.34, 0.92), -webkit-transform 0.5s cubic-bezier(1, 0.15, 0.34, 0.92);
}

.slideUpBtn::after {
  content: "Hover me";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transition: inherit;
  transition: inherit;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  width: 100%;
}

#wave {
  position: relative;
  height: 80px;
  width: 100%;
  background: #ffffff;
  z-index: 1;
}

#wave:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50% 100%;
  width: 150%;
  height: 200px;
  background-color: #ffffff;
  left: -50px;
  top: -50px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10rem 3rem 0 3rem;
  z-index: 5;
}
/*# sourceMappingURL=interface.css.map */